body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.header {
  text-align: center;
}

h1 {
  color: #00ff33;
}

p {
  color: #e6fb04;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;
  column-gap: 20px;
}

.card {
  flex-wrap: wrap;
}

img {
  width: auto;
  height: 300px;
}

.card:hover {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  background-color: darkorchid;
}

@media screen and (max-width: 992px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
